body
{
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.card
{
    background: linear-gradient(rgb(12, 12, 99),white);
    text-align: center;
    width: 400px;
    margin: auto;
    margin-top: 40px;
    padding: 23px 12px;
    box-shadow: 0 0 50px black;
    border-radius: 10px;
}

.red-card
{
    background: linear-gradient(rgb(180, 5, 5),white)
}

.green-card
{
    background: linear-gradient(rgb(10, 104, 10),white)
}

.card_tittle 
{
    font-size: 25px;
}

.card_subtitle
{
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 2px;
    margin: 0;
    margin-top: 20px;
}

.card_content
{
    font-size: 14px;
    padding: 12px 20px;
    padding-bottom: 0;
    text-align: justify;
    line-height: 20px;
}

.card_img
{
    width: 160px;
    border-radius: 100%;
    margin-top: 13px;
}

.card_udg{
    width: 280px;
    filter: drop-shadow(0px 0px 6px rgb(255, 255, 255));
}