body
{
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.card
{
    background: rgb(15, 4, 107);
    text-align: center;
    width: 400px;
    margin: auto;
    margin-top: 40px;
    padding: 23px 12px;
    box-shadow: 0 0 50px black;
    border-radius: 10px;
}

.red-card
{
    background-color: rgb(151, 7, 7);
}

.green-card
{
    background-color: rgb(4, 83, 4);
}

.card_tittle 
{
    font-size: 25px;
}

.card_subtitle
{
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 2px;
    margin: 0;
    margin-top: 20px;
}

.card_content
{
    font-size: 14px;
    padding: 12px 20px;
    padding-bottom: 0;
    text-align: justify;
    line-height: 20px;
}

.card_img
{
    width: 160px;
    border-radius: 100%;
    margin-top: 13px;

}